Web Services/02. WCF/WCF_Homework/FindSubstring.Console/Service References/FindSubstringsService/FindSubstrings.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SubstringCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="substring" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fullString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubstringCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubstringCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>